.portfolio-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-item{
  flex-direction: column;
}


.thumbnail img{
  height: 200px;
  object-fit: contain;
}
  


