.navbar{
    background-color: transparent;
    background: rgba(0, 0, 0, 0.3);
    border-color: transparent;
}

body {
    margin-top: 0;
    padding: 0;
}

.navitem{
    
    color: black;
}


.navbar-inverse .navbar-brand{
    color: rgb(200, 200, 200);
}
.navbar-inverse .navbar-nav > li > a{
    color: rgb(200, 200, 200);
}

.ml-auto{
    margin-right: 20%
}

